/src/main/resources/2015-1/*
/src/main/resources/2020-1/*
/src/main/resources/xslt/2015-1/*
/src/main/resources/xslt/2020-1/*
/schxslt/**/*
/.idea
*.iml
/*.obfl
/*.xhtml
/*.rng
/*.xsl
/*.zip
/*.epub
/*.json
/*.html
/*.xsd
/*.pef
target
/jing*
/trang*
/mathml3
